#experience {
    background-color: $white-color;
    color: $dark-blue-text;
    margin-top: -10rem;
    margin-bottom: -1px;
    -webkit-clip-path: polygon(0 10vh, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10vh, 100% 0, 100% 90%, 0 100%);

    
    @include respond(tab-land) {
        margin-top: -10rem;
        padding-top: 10rem;
    }

    .experience-wrapper {
        @include respond(phone) {
          margin-bottom: 0rem;
        }
    
        .row {
          margin-bottom: 8rem;
    
          @include respond(phone) {
            margin-bottom: 4rem;
          }

          .card {
            background-color: $white-color;
            color: $dark-blue-text;

            li {
                background: none;
            }
          }
        }
    }    
}